


contenedor principal

/* .main-container{
 position: relative;
 display: grid;
 width: 100vw;
 height: 100vh;
 padding: .625rem;
 gap: .625rem;
 grid-template: 
 'left-container left-container right-container'
 'left-container left-container right-container'
 '  footer          footer      right-container'
  ;
} */


/*contenedor  video*/



/* contenedor del area izquierda
.left-container{
  grid-area: left-container;
  display: grid;
  border-radius: 1.5em;
  justify-items: center;
  grid-template-areas: 
  '    logo           logo'
  'left-textarea  left-textarea'
  'left-paragraph left-paragraph'
  ' btn-encrypt    btn-decrypt';
  box-shadow: 0 0 1.25rem var(--color-letter);
  background: #03090bc6;
} */


/*logo alura*/
/* #logo-alura{
  grid-area: logo;
  font-family: 'Permanent Marker', cursiva;
  margin: 0;
  resize: none;
  border: none;
  outline: none;
  font-size: 1.25em;
  text-shadow: .0625rem .0625rem .3125rem;
  color: var(--color-letter);
}


#logo-alura h1{
  margin: 0rem;
  height: 0rem;
} */


/*textare izquierda*/
/* .left-container{
  grid-area: left-container;
  width: 70%;
  font-size: 1.25em;
  resize: none;
  border: none;
  outline: none;
  background: #03090bf0;
  outline: none;
  color:var(--color-letter);
} */


#left-paragraph{
  grid-area: left-paragraph;
  font-family: 'Permanent Marker', cursiva;
  align-self: center;
  margin: 0;
  background: #03090bf0;
  text-shadow: .0625rem .0625rem 1.25rem var(--color-letter);
  color: var(--color-letter);
}


/* botones del area izquierda*/
.btn-encrypt{
  grid-area: btn-encrypt;
  justify-self: end;
  align-self: center;
}


.btn-decrypt{
  grid-area: btn-decrypt;
  justify-self: start;
  align-self: center;

}


.btn-encrypt, .btn-decrypt{
 font-size: 1.25em;
 width: 50%;
 border-radius: .625rem;
 padding: .625rem;
 margin: 0rem .625rem;
 
  background: #03090bf0;
  color: var(--color-letter);
  box-shadow: 0 0 1.25rem var(--color-letter);
}


.btn-encrypt:hover, .btn-decrypt:hover, .btn-copy:hover{
  border-color: var(--color-letter);
  cursor: pointer;
}



/*section del area derecha*/
.right-container{
  grid-area: right-container;
  justify-self: center;
  border-radius: 1.5em;
  max-width: 25em;
  overflow: hidden;
  box-shadow: 0 0 1.25rem var(--color-letter);
  background: #03090bc6;
}


/*contenedor de la imagen*/
.image-container{
  position: relative;
  width: 100%;
}


.image-container h1{
  font-family: 'Permanent Marker', cursiva;
  position: absolute;
  top: 0;
  left: 4.4em;
  resize: none;
  border: none;
  outline: none;
  font-size: 1.5em;
  text-shadow: .0625rem .0625rem .3125rem var(--color-letter);
}


.image-container p{
  font-family: 'Permanent Marker', cursiva;
  position: absolute;
  left: 1.5625rem;
  top: 1.25rem;
  font-size: 1rem;
  text-shadow: .0625rem .0625rem .3125rem var(--color-letter);
}


img{
  width: 100%;
}


/*textare del lado derecho*/
.right-textarea-container{
  display: grid;
  margin: .625rem;
  left: 3.125rem;
}


.right-textarea{
  margin-top: 3.125rem;
  width: 18.75em;
  height: 12.5em;
  font-size: 1.25rem;
  resize: none;
  border: none;
  outline: none;
  background: #03090bf0;
  color:var(--color-letter)
}


/*boton copiar*/
.btn-copy{
  position: relative;
  left: .625rem;
  font-size: 1.25rem;
  width: 50%;
  border-radius: .625rem;
  padding: .625rem;
  margin: 2.5rem;
  cursor: pointer;
  background: #03090bf0;
  color: var(--color-letter);
  box-shadow: 0 0 1.25rem var(--color-letter);
}


.copy-right{
  text-align: center;
  background: #03090bf0;
  text-shadow: .0625rem .0625rem 1.25rem var(--color-letter);
  color: var(--color-letter);
}


/*section d iconos redes sociales*/
.footer{
  grid-area: footer;
  justify-self: center;
  
}


.icons-container{
  
  align-items: center;
  justify-content: center;
  color:var(--color-letter);
}


.icons-container ul li{
  display: inline-block;
  margin: 0 .3125rem;
  width: 3.125rem;
  height: 3.125rem;
  text-align: center;
}


.icons-container ul li a{
  display: block;
  padding: 0 .625rem;
  background: #03090bf0;
  color: #fff;
  line-height: 3.125rem;
  font-size: 1.125rem;
  box-shadow: 0 0 1.25rem var(--color-letter);
  transition: .2s;

}


.footer ul:hover a{
  filter: blur(.125rem);
}


.icons-container ul li a:hover{
  transform: translateY(-0.1875rem) scale(1.05);
  box-shadow: 0 .3125rem .3125rem 0rem var(--color-letter);
  filter: none;
}


.footer ul li .linkedin:hover{
  background: var(--linkedin);
}


.footer ul li .youtube:hover{
  background: var(--youtube);
}


.footer ul li .whatsapp:hover{
  background: var(--whatsapp);
}


.footer ul li .phone:hover{
  background: var(--phone);
}


.footer ul li .github:hover{
  background: var(--github);
}




/*section para medias querys*/

/* @media screen and (minwidth: 48em){
  .main-container{
    display: grid;
    grid-template: 
    'left-area left-area'
    'right-container right-container'
    'footer footer'
     ;
   }

   .left-area{
    grid-area: left-area;
   }

   .right-container{
    grid-area: right-container;
   }

   .footer{
    grid-area: footer;
   }
} */

@media screen and (maxwidth: 30rem){
  .main-container{
    position: relative;
    display: grid;
    padding: .625rem;
    gap: .625rem;
    grid-template: 
    'left-area'
    'right-area'
    'footer'
     ;
   }

   .left-area{
    grid-area: left-area;
    position: absolute;
   }

   .right-area{
    grid-area: right-area;
    position: absolute;
    justify-self: center;
   }

   .footer{
    grid-area: footer;
   }
}