/*aca las variables css donde guardo mis colores de iconos de redes sociales letras y fondos*/

:root{
  --github: #21262d;
  --linkedin: #0c1a98;
  --whatsapp: rgb(24, 196, 50);
  --youtube: #bd081c;
  --phone: rgba(0, 255, 4, 0.463);
  --color-letter: rgb(57, 212, 117);

}


/*contenedor principal*/

.main-container{
 position: relative;
 display: grid;
 width: 100%;
 height: 100vh;
 padding: 10px;
 gap: 10px;
 grid-template: 
 'left-area left-area right-area'
 'left-area left-area right-area'
 'footer footer right-area'
  ;
}


/*contenedor  video*/
.video-container{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}


.video-container video{
  position: relative;
  object-fit: cover;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);

}


/*contenedor del area izquierda*/
.left-area{
  grid-area: left-area;
  display: grid;
  border-radius: 24px;
  justify-items: center;
  grid-template-areas: 
  'logo logo'
  'left-textarea left-textarea'
  'left-paragraph left-paragraph'
  'btn-encrypt btn-decrypt';
  height: 50em;
  box-shadow: 0 0 20px var(--color-letter);
  background: #03090bc6;
}


/*logo alura*/
#logo-alura{
  grid-area: logo;
  font-family: 'Permanent Marker', cursiva;
  margin: 0;
  resize: none;
  border: none;
  outline: none;
  font-size: 1.25em;
  text-shadow: 1px 1px 5px;
  color: var(--color-letter);
}


#logo-alura h1{
  margin: 0px;
  height: 0px;
}


/*textare izquierda*/
.left-textarea{
  grid-area: left-textarea;
  width: 70%;
  font-size: 1.25em;
  resize: none;
  border: none;
  outline: none;
  background: #03090bf0;
  outline: none;
  color:var(--color-letter);
}


#left-paragraph{
  grid-area: left-paragraph;
  font-family: 'Permanent Marker', cursiva;
  align-self: center;
  margin: 0;
  background: #03090bf0;
  text-shadow: 1px 1px 20px var(--color-letter);
  color: var(--color-letter);
}


/* botones del area izquierda*/
.btn-encrypt{
  grid-area: btn-encrypt;
  justify-self: end;
  align-self: center;
}


.btn-decrypt{
  grid-area: btn-decrypt;
  justify-self: start;
  align-self: center;

}


.btn-encrypt, .btn-decrypt{
 font-size: 1.25em;
 width: 50%;
 border-radius: 10px;
 padding: 10px;
 margin: 0px 10px;
 
  background: #03090bf0;
  color: var(--color-letter);
  box-shadow: 0 0 20px var(--color-letter);
}


.btn-encrypt:hover, .btn-decrypt:hover, .btn-copy:hover{
  border-color: var(--color-letter);
  cursor: pointer;
}



/*section del area derecha*/
.right-container{
  grid-area: right-area;
  justify-self: center;
  border-radius: 24px;
  max-width: 400px;
  max-height: 600px;
  /* background-image: url(image/matrix.png.jfif);
  background-repeat: no-repeat;
  background-size: contain; */
  overflow: hidden;
  box-shadow: 0 0 20px var(--color-letter);
  background: #03090bc6;
}


/*contenedor de la imagen*/
.image-container{
  position: relative;
}


.image-container h1{
  font-family: 'Permanent Marker', cursiva;
  position: absolute;
  top: 0;
  left: 70px;
  resize: none;
  border: none;
  outline: none;
  font-size: 20px;
  text-shadow: 1px 1px 5px var(--color-letter);
}


.image-container p{
  position: absolute;
  left: 25px;
  top: 20px;
  font-family: 'Permanent Marker', cursiva;
  text-align: center;
  font-size: 16px;
  text-shadow: 1px 1px 5px var(--color-letter);
}


img{
  width: 100%;
  height: 100%;
}


/*textare del lado derecho*/
.right-textarea-container{
  display: grid;
  margin: 10px;
  left: 50px;
}


.right-textarea{
  margin-top: 50px;
  width: 300px;
  height: 200px;
  font-size: 20px;
  resize: none;
  border: none;
  outline: none;
  background: #03090bf0;
  color:var(--color-letter)
}


/*boton copiar*/
.btn-copy{
  position: relative;
  left: 10px;
  font-size: 20px;
  width: 50%;
  border-radius: 10px;
  padding: 10px;
  margin: 40px;
  cursor: pointer;
  background: #03090bf0;
  color: var(--color-letter);
  box-shadow: 0 0 20px var(--color-letter);
}


.copy-right{
  text-align: center;
  background: #03090bf0;
  text-shadow: 1px 1px 20px var(--color-letter);
  color: var(--color-letter);
}


/*section d iconos redes sociales*/
.footer{
  grid-area: footer;
  height: 100px;
  justify-self: center;
  
}


.icons-container{
  
  align-items: center;
  justify-content: center;
  color:var(--color-letter);
}


.icons-container ul li{
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center;
}


.icons-container ul li a{
  display: block;
  padding: 0 10px;
  background: #03090bf0;
  color: #fff;
  line-height: 50px;
  font-size: 18px;
  box-shadow: 0 0 20px var(--color-letter);
  transition: .2s;

}


.footer ul:hover a{
  filter: blur(2px);
}


.icons-container ul li a:hover{
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0px var(--color-letter);
  filter: none;
}


.footer ul li .linkedin:hover{
  background: var(--linkedin);
}


.footer ul li .youtube:hover{
  background: var(--youtube);
}


.footer ul li .whatsapp:hover{
  background: var(--whatsapp);
}


.footer ul li .phone:hover{
  background: var(--phone);
}


.footer ul li .github:hover{
  background: var(--github);
}




/*section para medias querys*/

@media screen and (minwidth: 48em){
  .main-container{
    display: grid;
    grid-template: 
    'left-area left-area'
    'right-container right-container'
    'footer footer'
     ;
   }

   .left-area{
    grid-area: left-area;
   }

   .right-container{
    grid-area: right-container;
   }

   .footer{
    grid-area: footer;
   }
}